# http://w1.fi/cgit/hostap/plain/hostapd/hostapd.conf

ssid={{ puomi_ssid }}
country_code={{ puomi_wifi_country_code | default("0") }}
hw_mode={{ puomi_wifi_hw_mode | default("g") }}
channel={{ puomi_wifi_channel | default("1") }}

interface={{ puomi_wifi_interface | default("wlan0") }}
bridge=br0
driver={{ puomi_wifi_driver | default("nl80211") }}

macaddr_acl=0
auth_algs=1
wpa=2
wpa_passphrase={{ puomi_wifi_passphrase }}
wpa_key_mgmt=WPA-PSK WPA-PSK-SHA256
wpa_pairwise=TKIP
#rsn_pairwise=CCMP

logger_syslog=-1
logger_syslog_level=2
logger_stdout=-1
logger_stdout_level=2

wmm_enabled=1
ieee80211n=1
ieee80211ac=1
ieee80211ax=1
